button{
    background-color: yellow;
    border-style: none;
    font-family: sans-serif;
    height: 70px;
    width: 100px;
    font-weight: 600;
    font-size: 30px;
}

input{
    background-color: white;
    border-style: none;
    font-family: sans-serif;
    height: 68px;
    width: 400px;
    font-weight: 700;
    font-size: 30px;
}